#treeview {
  width: 100%;
  min-height: 100vh;
  display: flex;
  background-color: #2f3640;

  .left-container {
    width: 25%;
    position: fixed;
    height: 100vh;
    background-color: #192a56;
    color: #f5f6fa;
    padding-left: 3vh;
    padding-top: 2vh;
  }

  .menuPlus {
    display: flex;
    align-items: center;
    gap: 0.5vh;
    justify-content: start;
    overflow: hidden;
    width: 100%;

    h3 {
      width: 30%;
    }

    .btn {
      padding: 1vh 1.5vh;
      background-color: #fbc531;
      color: #2c3e50;
      margin: 10px 0px;
      outline: none;
      border: none;
      cursor: pointer;
      font-weight: 600;
      border-radius: 4px;
    }
  }

  .submenuPlus {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.5vh;
    justify-content: start;
    width: 100%;
    padding: 0;
    margin: 0;
    margin-left: 10%;

    h3 {
      width: 30%;
    }

    .btn {
      padding: 1vh 1.5vh;
      background-color: #fbc531;
      color: #2c3e50;
      margin: 10px 0px;
      outline: none;
      border: none;
      cursor: pointer;
      font-weight: 600;
      border-radius: 4px;
    }
  }

  .content-container {
    margin-left: 28%;
    width: 75%;
    color: white;
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    font-weight: bold;
    font-size: 24px;
  }
}
