.main {
  width: 100vw;
  min-height: 100vh;

  .main-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 450px;
  }

  .arrow {
    position: absolute;
    width: 2rem;
    height: 2rem;
    color: #fff;
    filter: drop-shadow(0px 0px 5px #555);
    cursor: pointer;
  }

  .activeSlide {
    border-radius: 0.5rem;
    box-shadow: 0px 0px 7px #666;
    width: 100%;
    height: 100%;
  }

  .inactiveSlide {
    display: none;
  }

  .arrow-left {
    left: 1rem;
  }

  .arrow-right {
    right: 1rem;
    transform: rotate(180deg);
  }
  .disabledicon {
    opacity: 0.3;
    cursor: not-allowed;
  }

  button {
    padding: 1vh 1.5vh;
    background-color: #fbc531;
    color: #2c3e50;
    margin: 10px 0px;
    outline: none;
    border: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 4px;
  }

  .circle-indicators {
    display: flex;
    position: absolute;
    bottom: 2rem;
  }

  .current-indicator {
    background-color: #ffffff;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: none;
    outline: none;
    margin: 0 0.2rem;
    cursor: pointer;
  }

  .hide-current-image {
    display: none;
  }

  .inactive-indicator {
    background-color: gray;
  }

  button:disabled {
    opacity: 0.4;
    /* background-color: #22211e; */
  }
}
